.menu-wrap{
    &.active{
        .menu{
            visibility: visible;
            pointer-events: auto;
        }
        #obj3d{display: none}
    }
    .menu,
    #obj3d{
        position: fixed;
    }
    #obj3d{
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        //pointer-events: none;
    }
    .menu{
        left: 0; top: 0;
        visibility: hidden;
        pointer-events: none;
        // background: rgb(35,35,35);
        // background: linear-gradient(0deg, rgba(35,35,35,1) 0%, rgba(77,77,77,1) 35%, rgba(35,35,35,1) 100%);
        background: $color1;
        //opacity: .5;
    
        padding: $margeM;
        width: 100%; height: 100%;
        &,a{color: $color3}
        .header{
            margin-bottom: 2em;
            .date{white-space: pre}
        }
        nav{
            
        }
        .wrap{background: red; height: 100%;}
        .mini-map{
            
            .item{
                position: absolute;
                background: white;
                width: 50px; height: 30px;
                border: 1px solid black;
                cursor: pointer;
            }
            .here-i-am{
                position: absolute;
                width: 20px; height: 20px;
                border-radius: 100%;
                background: greenyellow;
            }
        }
    }
}