.menu-wrap{
    &.active{
        .menu{
            visibility: visible;
            pointer-events: auto;
        }
        #obj3d{display: none}
    }
    .menu,
    #obj3d{
        position: fixed;
    }
    #obj3d{
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        //pointer-events: none;
        cursor: pointer;
    }
    .menu{
        left: 0; top: 0;
        visibility: hidden;
        pointer-events: none;
        background: $color1;
        //opacity: .5;
    
        padding: $margeM;
        width: 100%; height: 100%;
        &,a{color: $color3}
        .row{height: 100%;}

        .naviguation{
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            height: 100%;
        }

        .header{
            margin-bottom: 2em;
            .date{white-space: pre}
        }
        nav{
            
        }
        .mini-map-wrap{
            top: 50%;
            transform: translateY(-50%);
            //background: red;
            //height: 50%;
            //height: 100%;
            // width: 33.3vw;
            // position: fixed;
            // left: 50%; top: 50%;
            // transform: translate(-50%, -50%);

            .mini-map{
            
                .item{
                    position: absolute;
                    background: white;
                    width: 50px; height: 30px;
                    border: 1px solid black;
                    cursor: pointer;
                    &:hover{opacity: .7;}
                }
                
            }
            .here{
                //@include anime();
                position: absolute;
                width: 20px; height: 20px;
                margin-left: -10px;
                margin-top: -10px;
                border-radius: 100%;
                background: greenyellow;
            }
        }
        
    }
}