.modal{
    padding: $paddV $paddH calc(#{$paddV} + #{$fontXs}) $paddH;
    background: $color1;
    position: fixed;
    height: 100%; width: 100%; top: 0;
    color: $color2;
    &.hidden{
        display: none;
    }
    .bg,
    .close{position: absolute;}
    .bg{
        height: 100%; width: 100%;
        cursor: pointer;
        top: 0; left: 0;
    }
    .close{
        right: $paddH;
        bottom: $paddH;
        cursor: pointer;
    }
    .inner{
        height: 100%;
        $max: calc( ($paddV * 2) + #{$fontXs} );
        @debug $max;
        //max-height: calc( 100vh - #{$max} );

        .video,
        iframe{
            height: 100%;
            
        }
    }
}
