.sponsor{
    @include flexbox();
    @include align-items(center);
    figure{
        margin-right: 1vw;
    }
    img{
        //@include flex-shrink(0);
        max-height: 3.5vh;
        max-height: 3.5vh;
        
        opacity: 0.9;
    }
}