.ui-media{
    height: 100%;
    color: $color2;

    .gradient-overlay{
        position: absolute;
        bottom: 0;
        width: 100%; height: 50%;
    }
    .bottom{
        width: 100%;
        padding: $paddV $paddH;
        //z-index: 1;
        pointer-events: none;
        .title{
            z-index: 1; display: inline-block;
            max-width: 50%;
        }
        .btn-video{
            position: absolute;
            right: 0; bottom: 0;
            cursor: pointer;
        }
    }

    .btn{
        position: absolute;
        right: 2vw;
        bottom:  4.9vh;
        cursor: pointer;
    }
}

@media all and (max-width:$ipad){
    .tile-quarter,
    .tile-half{
        .ui-media{
            .cover{min-height: 50vh;}
        }
    }
}