.ui-media{
    height: 100%;
    color: $color2;
    &.video-play{
        .cover,
        .gradient-overlay{display: none;}
    }
    
    .embed-wrap{
        position: absolute; top: 0;
        width: 100%; height: 100%;
        iframe{height: 100%;}
    }

    .gradient-overlay{
        position: absolute;
        bottom: 0;
        width: 100%; height: 50%;
    }
    .bottom{
        width: 100%;
        padding: $paddV $paddH;
        //z-index: 1;
        pointer-events: none;
        .title{z-index: 1; display: inline-block}
        .btn-video{
            position: absolute;
            right: 0; bottom: 0;
            cursor: pointer;
        }
    }
    .video{
        position: absolute;
        bottom: 0;
        width: 100%; height: 100%;
    }
}