.ui-texte{
    height: 100%;
    .texte{
        margin-bottom: calc(3.5vh / 2);
        &.scrollable{
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
        a{
            text-decoration: underline!important;
            color: $color1!important
        }
    }
}
.tile-quarter{
    .texte{
        // max-height: calc(4 * #{$fontLLh});
        // overflow: hidden;
        font-size: $fontM;
        line-height: $fontMLh; 
    }
}
.tile-half{
    .texte{
        font-size: $fontL;
        line-height: $fontLLh; 
        // max-height: calc(9 * #{$fontLLh});
        // overflow: hidden;
    }
}

@media all and (max-width:767px){
    .tile-half{
        .ui-texte{
            .texte{
                font-size: $fontM;
                line-height: $fontMLh;
            }
        }
    }
    .tile-quarter{
        .ui-texte{
            .texte{
                font-size: $fontS;
                line-height: $fontSLh;
                //min-height: calc(#{$fontL} * 6.5);
                // font-size: calc(#{$fontM} - 1px);
                // line-height: calc(#{$fontMLh} - 1px); 
                overflow: initial!important;
                text-overflow: initial!important;
                -webkit-line-clamp: initial!important;
            }
        }
    }
}