.ui-link{
    .btn{
        margin-bottom: $fontXs;
        //display: block;
        background: white;
    }
    .url{
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        .gradient-texte{max-width: 100%;}
        .icon{
            position: absolute; right: 0;
            top: 4px;
            top: 0;
        }
    }
}

.tile-2{
    .ui-link{
        height: 100%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between)
    }
}

@media all and (max-width:767px){
    .ui-link{
        height: 100%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between)
    }
}