.ui-headline{
    text-align: left;
    height: 100%;
    .texte{}
    p{
        //white-space: pre;
    }
    ul{
        @include flexbox();
        li a{padding-right: 1em;}
    }
}

@media all and (max-width:767px){
    .ui-headline{
        .top,
        .bottom{
            position: initial
        }
        .texte{
            overflow: initial!important;
            text-overflow: initial!important;
            -webkit-line-clamp: initial!important;
        }
    }
}