.ui-link{
    .btn{
        margin-bottom: $fontXs;
        //display: block;
    }
    .url{
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        .gradient-texte{max-width: 100%;}
        .icon{
            position: absolute; right: 0;
            top: 4px;
        }
    }
}