.ui-advertisement{
    height: 100%;
    color: $color2;
    background: red;
    .bottom{
        width: 100%;
        padding: $paddV $paddH;
        .title{z-index: 1;}
        @include flexbox();
        @include justify-content(space-between);
        .sponsor{
            figure{
                margin-right: 0;
                margin-left: 1vw;
                max-height: 7vh;
            }
            .icon{color: $color3}
        }
    }
}

.tile-full{
    .ui-advertisement{
        .bottom{
            @include justify-content(flex-end);
        }
    }
}