.ui-texte{
    height: 100%;
    .texte{
        margin-bottom: calc(3.5vh / 2);
        &.scrollable{
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
        a{
            text-decoration: underline!important;
            color: $color1!important
        }
    }
}
.tile-quarter{
    .texte{
        // max-height: calc(4 * #{$fontLLh});
        // overflow: hidden;
        font-size: $fontM;
        line-height: $fontMLh; 
    }
}
.tile-half{
    .texte{
        font-size: $fontL;
        line-height: $fontLLh; 
        // max-height: calc(9 * #{$fontLLh});
        // overflow: hidden;
    }
}

@media all and (max-width:767px){
    .tile-quarter{
        .ui-texte{
            .texte{min-height: calc(#{$fontL} * 6.5);}
        }
    }
}