.ui-texte{
    .texte{
        margin-bottom: calc(3.5vh / 2);
        a{
            text-decoration: underline!important;
        }
    }
}
.tile-quarter{
    .texte{
        // max-height: calc(4 * #{$fontLLh});
        // overflow: hidden;
        font-size: $fontM;
        line-height: $fontMLh; 
    }
}
.tile-half{
    .texte{
        font-size: $fontL;
        line-height: $fontLLh; 
        // max-height: calc(9 * #{$fontLLh});
        // overflow: hidden;
    }
}