.ui-link-texte{
    height: 100%;
    .bottom{
        width: 100%;
        .url,
        .btn{
            position: absolute; bottom: 0;
            max-width: 50%;
        }
        .url{
            overflow: hidden;
            white-space: nowrap;
            .gradient-texte{max-width: 100%;}
            .icon{
                position: absolute; right: 0;
                top: 4px;
                top: 0;
            }
        }
        .btn{
            right: 0;
            //display: block;
            min-width: 260px;
        }
    }
}