.ui-headline{
    text-align: left;
    height: 100%;
    .texte{
        width: 340px;
    }
    p{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;  
        /* autoprefixer: on */
        overflow: hidden;
        
        a{
            text-decoration: underline!important;
            color: $color1!important
        }
    }
    ul{
        @include flexbox();
        li a{padding-right: 1em;}
    }
}

@media all and (max-width:767px){
    .ui-headline{
        .top,
        .bottom{
            position: initial
        }
        .texte{
            overflow: initial!important;
            text-overflow: initial!important;
            -webkit-line-clamp: initial!important;
        }
    }
}