.ui-headline{
    text-align: left;
    height: 100%;
    .texte{}
    p{
        //white-space: pre;
    }
    ul{
        @include flexbox();
        li a{padding-right: 1em;}
    }
}

@media all and (max-width:767px){
    .ui-headline{
        .top{
            height: 100%;
            .texte{min-height: calc(#{$fontL} * 6.5)}
        }
    }
}