.tile{
    height: 100vh;
    display:grid;
    &.tile-4{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    &.tile-2{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    &.tile-h-auto{
        height: auto;
    }

    .tile-quarter,
    .tile-half{
        max-height: 50vh; overflow: hidden;
        padding: $paddV $paddH;
        background: white;
        border: $border;
    }
}

@media all and (max-width:767px){
    .tile{
        &.tile-4{
            min-height: 200vh;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
        }
        &.tile-2{
            grid-template-rows: 100%;
        }
        &.tile-h-auto{
            min-height: 50vh;
        }
    }
}
