.tile{
    width: 100vw;
    height: 100vh;
    .tile-quarter{
        width: 50%;
        height: 50%;
    }
    .tile-half{
        width: 100%;
        height: 50%;
    }
}

@media all and (max-width:767px){
    .tile{
        .tile-quarter{
            width: 100%;
            min-height: 50%;
        }
    }
}