html,body{
    //overflow: hidden;
    //scroll-snap-type: both mandatory;
}
.tiles{
    // min-width: 500vw;
    // min-height: 500vh
    //@include anime();
}
.tile{
    //scroll-snap-align: start;
    position: absolute;
    width: 100vw;
    height: 100vh;
    // width: 50vw;
    // height: 50vh;
    display:grid;
    background: $color1;
    
    &.tile-2{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        .tile-item{
            max-height: 100%;
        }
    }
    &.tile-3{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        .tile-half{
            grid-row: 1 / span 2;
        }
    }
    &.tile-4{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    
    

    &.tile-h-auto{
        height: auto;
    }
  
    .tile-quarter{max-height: 50vh}
    .tile-item{
        overflow: hidden;
        padding: $paddV $paddH;
        background: white;
        //border: $border;
        margin: 1.4vh;
        margin: $borderHeight/2;
        &.nopad{
            padding: 0;
            //.inner{padding: $paddV $paddH;}
        }
        &.nopad-tb{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

@media all and (max-width:767px){
    .tile{
        min-height: 200vh;
        &.tile-4{
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
        }
        &.tile-2{
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
        }
        &.tile-h-auto{
            //min-height: 50vh;
        }
        &.tile-3{
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25%;
        }
    }
}
