.page-article{
    padding: $paddV $paddH;
    header{
        margin-bottom: $paddV;
    }
    article{
        max-width: $ipad;
        margin: 0 auto;
        h1,
        .hero{
            margin-bottom: $paddV;
            text-align: center;
        }
        .wrapper{
            max-width: 740px;
            margin: 0 auto;
        }
    }
}