.page-404{
    
    header{
        padding: $paddV $paddH;
        border-bottom: $border;
    }
    article{
        padding: $paddV $paddH;
        max-width: $ipad;
        margin: 0 auto;
        text-align: center;
        h1{
            margin-bottom: $paddV;
            text-align: center;
        }
        a{text-decoration: underline}
    }
}