.page-404{
    
    header{
        padding: $paddV $paddH;
        border-bottom: $border;
    }
    article{
        padding: $paddV $paddH;
     

        h1{
            margin-bottom: $paddV;
            
        }
        
    }
}