html{
    //scroll-behavior: smooth;
    
    body{
        scroll-behavior: smooth;
        overflow: scroll;
        height: 100vh;
        //width: 100vw;
        scroll-snap-type: both mandatory;
    }
    .tile{
        scroll-snap-align: start;
    }
}
main{

    .tiles-wrap{
        @include anime(.4s, 0);
        transform: perspective(100vw) translateZ(0) translateX(0);
    }
    &.is-menu{
        .tiles-wrap{
            transform: perspective(860px) translateZ(-318vh) translateX(-100%);
            //opacity: 0;
        }
    }
}

.hidden-xs{display: block}
.hidden-m{display: none}

@media all and (max-width:767px){
    .hidden-xs{display: none}
    .hidden-m{display: block}
}

.no-pad-v{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.no-pad-h{
    padding-right: 0!important;
    padding-left: 0!important;
}