/* BASE VARIABLES
 *******************/


/* Sizes */
$max-width: 1800px;

/* Colors */
$color1: #222;
$color2: #fff;
$color3: #fafafa;
//$links: $color1;
//$hover: $color2;

$bg: white;

/* PADDINGS */
$margeXS: 10px;
$margeS: $margeXS * 2;
$margeM: $margeXS * 4;
$margeL: $margeXS * 8;

/* Fonts */
$fontPrimary: 'BasierCircle-Regular', sans-serif;

$fontXs: calc(2.8vh * 0.7);
$fontXsLh: 2.8vh;

$fontS: calc(3.5vh * 0.7);
$fontSLh: 3.5vh;

$fontM: calc(4.9vh * 0.7);
$fontMLh: 4.9vh;

$fontL: calc(7vh * 0.7);
$fontLLh: 7vh;

$headline: 4.9vh;
$headlineLh: 7vh;
$paragraph: 2.45vh;
$paragraphLh: 2.8vh;

$xHeightM: 38px;
$indexWidth: $xHeightM + $margeS;
//$fontXL: 6vw;

/* Borders */
$borderHeight: 2px;
$borderHeight: 2.8vh;
$borderHeight: 0.343vh;
$border: $borderHeight solid;

$tileWidth: 50vw;
$tileHeight: 50vh;
$paddV:4.9vh;
$paddH:2vw;

$gutter: $margeXS / 2;

/* Breakpoints */
$cap: 1920px;
$m: 1024px;
$s: 768px;
$xs: 500px;