.menu-wrap{
    &.active{
        .menu{
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
        }
        #obj3d{display: none}
        .mini-map-wrap{
            transform: translate(-50%, -50%) scale(.55);
            opacity:1;
            pointer-events: auto;
        }
    }
    .menu,
    #obj3d{
        position: fixed;
    }
    #obj3d{
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        //pointer-events: none;
        cursor: pointer;
    }
    .menu{
        @include anime(.4s, 0s);
        left: 0; top: 0;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        background: $color1;
        //opacity: .5;
    
        padding: $margeM;
        width: 100%; height: 100%;
        &,a{color: $color3}
        .row{height: 100%;}

        .naviguation{
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            height: 100%;
        }

        .header{
            margin-bottom: 2em;
            .date{white-space: pre}
        }
        nav{
            
        }
        
        
    }

    .mini-map-wrap{
        @include anime(.4s, 0s);
        max-width: 33.333vw;
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(5);
        opacity:0;
        pointer-events: none;
        .mini-map{
        
            .item{
                position: absolute;
                background: white;
                width: 50px; height: 30px;
                border: 1px solid black;
                cursor: pointer;
                &:hover{opacity: .7;}
            }
            
        }
        .here{
            //@include anime();
            position: absolute;
            width: 20px; height: 20px;
            margin-left: -10px;
            margin-top: -10px;
            border-radius: 100%;
            background: greenyellow;
        }
    }
}

@media all and (max-width:767px){
    .mini-map-wrap{
        display: none;
    }
}