.menu-wrap{
    &.active{
        .menu{
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
            transform: scale(1);
        }
        #obj3d{
            //display: none;
            pointer-events: none;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
        .mini-map-wrap{
            transform: translate(-50%, -50%) scale(.85);
            opacity:1;
            pointer-events: auto;
        }
    }
    .menu,
    #obj3d{
        position: fixed;
    }
    
    a:hover{
        color: $color2;
    }
    .menu{
        @include anime(.6s, .1s);
        left: 0; top: 0;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transform: scale(5);
        background: $color1;
        //opacity: .5;
    
        padding: $margeM;
        width: 100%; height: 100%;
        &,a{color: $color3}
        .row{height: 100%;}

        .naviguation{
            @include flexbox();
            @include flex-direction(column);
            //@include justify-content(space-between);
            height: 100%;
            .header,
            .main-nav{margin-bottom: 2em;}
        }

        .header{
            
            .date{white-space: pre}
        }
        
        .social{
            @include flexbox();
            a{
                padding-right: $margeS;
                display: block;
            }
        }
        
        
    }

    .mini-map-wrap{
        @include anime(.6s, 0s);
        max-width: 33.333vw;
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(5);
        opacity:0;
        pointer-events: none;
        .mini-map{
        
            .item{
                position: absolute;
                background: $color3;
                width: 50px; height: 30px;
                border: 1px solid black;
                cursor: pointer;
                &:hover{background: $color2;}
            }
            
        }
        .here{
            //@include anime();
            position: absolute;
            width: 20px; height: 20px;
            margin-left: -10px;
            margin-top: -10px;
            border-radius: 100%;
            background: greenyellow;
        }
    }
}

#obj3d{
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(1);
    //pointer-events: none;
    cursor: pointer;
    @include anime();
}
.loading{
    #obj3d{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

@media all and (max-width:767px){
    .mini-map-wrap{
        display: none;
    }
}