.menu-cta{
    position: fixed;
    right: 0; top: 0;
    z-index: 250;
    height: 4.9v;
    padding: 0 0.7em;
    background: #eee;
    top: 1.4vh; right: 2vw;
    border-radius: calc(2.8vh * 0.7)
}